* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  scroll-behavior: smooth;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  padding: 20px;
  color: rgb(0, 0, 0);
  background-color: #5483d3;
}
.logo {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  object-fit: cover;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}
.navbar h1 {
  color: aliceblue;
}
.nav-link {
  display: flex;
  align-items: center;
}
.nav-link li {
  margin: 0 30px;
}
ul {
  list-style: none;
}
ul :hover a {
  color: rgba(0, 0, 0, 0.666);
  opacity: 2px;
}
a {
  text-decoration: none;
  color: aliceblue;
}

header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)),
    url(../photo/couverture.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-content {
  margin-bottom: 50px;
  color: aliceblue;
  text-align: center;
}
span {
  color: red;
}
.color {
  color: rgb(21, 148, 14);
}
.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}

.header-content h2 {
  font-size: 4vmin;
}

.header-content form {
  background: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  width: 30vw;
  margin-left: 30%;
}
.header-content form input {
  outline: 0;
  border: 0;
  width: 100%;
  font-size: 15px;
  padding-left: 10px;
}
.header-content form .botton {
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 20px;
  background: #052659;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #fff;
}
.bouton {
  padding: 8px 20px;
  background-color: #5483d3;
  border-radius: 20px;
  color: aliceblue;
  margin-top: 30px;
}
section {
  width: 100vw;
  margin-top: 100px;
  margin-bottom: 15px;
}
section .about-us {
  text-align: center;
  color: #052659;
  margin-bottom: 10px;
  font-size: 4vmin;
}
.section-one {
  display: flex;
  width: 100%;

  flex-direction: row;
  justify-content: space-between;
  gap: 2px;
}
.section-one h1 {
  margin-top: 50px;
  color: #7da0ca;
  text-align: center;
}
.section-one p {
  margin-top: 30px;
  color: aliceblue;
  text-align: center;
  padding: 5px 10px;
}

.about-left {
  background-color: #052659;
  width: 25%;
  height: 35vh;
}
.cars img {
  width: 50vw;
  height: 35vh;
  object-fit: cover;
}
.about-right {
  background-color: #052659;
  height: 35vh;
  width: 25%;
}
.category {
  text-align: center;
  color: #052659;
  margin-bottom: 10px;
  font-size: 4vmin;
}
.second-section {
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: space-between;
}
.second-section img {
  transition: transform 0.5s ease-in-out;
}
.second-section img:hover {
  transform: scale(1.02);
}
.section-speed {
  display: flex;
  flex-direction: column;
}
.section-speed h2 {
  color: #1b2f48;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section-speed p {
  text-align: center;
  color: rgb(237, 226, 226);
}

.speed {
  display: flex;
  flex-direction: column;
}
.speed .ford2 {
  width: 30vw;
  height: 30vh;
  object-fit: cover;
}
.description {
  background-color: #0527598e;
  height: 30vh;
}
.description2 {
  background-color: #0527598e;

  height: 30vh;
}

.section-type h2 {
  color: #1b2f48;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px;
}
.section-type p {
  text-align: center;
  color: rgb(237, 226, 226);
}

.ford-type {
  display: flex;
  flex-direction: column;
}

.ford-type .ford {
  width: 40vw;
  height: 30vh;
  object-fit: cover;
}

.ford-engine .ford1 {
  width: 30vw;
  height: 30vh;
  object-fit: cover;
}
footer {
  bottom: 0px;
  width: 100%;
  background: #111;
  margin-top: 100px;
}
.footer-content {
  display: flex;
}
.footer-content h2 {
  color: aliceblue;
}
.footer-content p {
  color: aliceblue;
}
.footer-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content p {
  text-align: justify;
  color: aliceblue;
}

.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
}
.text {
  color: aliceblue;
}
.bottone button {
  width: 50px;
  height: 30px;
  border-radius: 10px;
}
