* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  scroll-behavior: smooth;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  padding: 20px;
  color: rgb(0, 0, 0);
  background-color: #5483d3;
}
.logo {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  object-fit: cover;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}
.navbar h1 {
  color: aliceblue;
}
.nav-link {
  display: flex;
  align-items: center;
}
.nav-link li {
  margin: 0 30px;
}
ul {
  list-style: none;
}
ul :hover a {
  color: rgba(0, 0, 0, 0.666);
  opacity: 2px;
}
a {
  text-decoration: none;
  color: aliceblue;
}

header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)),
    url(../photo/couverture.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-content {
  margin-bottom: 50px;
  color: aliceblue;
  text-align: center;
}
span {
  color: red;
}
.color {
  color: rgb(21, 148, 14);
}
.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}

.header-content h2 {
  font-size: 4vmin;
}

.header-content form {
  background: #fff;
  border-radius: 20px;
  display: flex;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  width: 30vw;
  margin-left: 35%;
}
.header-content form input {
  outline: 0;
  border: 0;
  width: 100%;
  font-size: 15px;
  padding-left: 10px;
}
.header-content form .botton {
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 20px;
  background: #052659;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #fff;
}

section {
  width: 100vw;
  margin-top: 100px;
  margin-bottom: 15px;
}
section .about-us {
  text-align: center;
  color: #052659;
  margin-bottom: 10px;
  font-size: 4vmin;
}
.section-one {
  display: flex;
  width: 100%;

  flex-direction: row;
  justify-content: space-between;
  gap: 2px;
}
.section-one h1 {
  margin-top: 50px;
  color: #7da0ca;
  text-align: center;
}
.section-one p {
  margin-top: 30px;
  color: aliceblue;
  text-align: center;
  padding: 5px 10px;
}

.about-left {
  background-color: #052659;
  width: 25%;
  height: 35vh;
}
.cars img {
  width: 50vw;
  height: 35vh;
  object-fit: cover;
}
.about-right {
  background-color: #052659;
  height: 35vh;
  width: 25%;
}
.category {
  text-align: center;
  color: #052659;
  margin-bottom: 10px;
  font-size: 4vmin;
}
.second-section {
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: space-between;
  width: 100%;
}
#category h1 {
  color: #052659;
}
.second-section img {
  transition: transform 0.5s ease-in-out;
}
.second-section img:hover {
  transform: scale(1.02);
}
.section-speed {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.section-speed h2 {
  color: #1b2f48;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section-speed p {
  text-align: center;
  color: rgb(237, 226, 226);
}

.speed {
  display: flex;
  flex-direction: column;
}
.speed .ford2 {
  width: 30vw;
  height: 30vh;
  object-fit: cover;
}
.description {
  background-color: #0527598e;
  height: 30vh;
}
.description2 {
  background-color: #0527598e;
  margin-bottom: 5px;
  height: 30vh;
}

.section-type h2 {
  color: #1b2f48;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px;
}
.section-type p {
  text-align: center;
  color: rgb(237, 226, 226);
}

.ford-type {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.ford-type .ford {
  width: 40vw;
  height: 30vh;
  object-fit: cover;
}

.ford-engine .ford1 {
  width: 30vw;
  height: 30vh;
  object-fit: cover;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: 100px;
}
.footer-content {
  max-width: 1170px;

  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-colone {
  width: 25%;
  padding: 0 15px;
}
.footer-colone ul {
  list-style: none;
}
.footer-colone h4 {
  font-size: 18px;
  color: goldenrod;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-colone ul li :not(:last-child) {
  margin-bottom: 10px;
}
.footer-colone ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transform: all 0.3s ease;
}
.footer-colone ul :hover a {
  color: #807575;
  padding-left: 80px;
}
.text {
  color: #bbbbbb;
}
.email input {
  width: 100%;
  border-radius: 5px;
}
.message textarea {
  width: 100%;
  border-radius: 5px;
}
.bottone button {
  width: 100%;
  height: 3vh;
  border-radius: 10px;
  background-color: #bbbbbb;
  color: #ffffff;
}
:hover button {
  background-color: #24262b;
}
@media (max-width: 767px) {
  body {
    background-color: #decece;
  }
}

@media only screen and (max-width: 767px) {
  nav {
    padding: 0;
  }

  .nav-link {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin-top: -900px;
    transition: all 0.5s ease;
    background-color: #1b2f48;
  }
  .nav-link li {
    margin: 30px auto;
  }
}
@media only screen and (max-width: 767px) {
  nav {
    padding: 0;
  }

  .nav-link {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: -900px;
    transition: all 0.5s ease;
    background-color: #1b2f48;
  }
  .nav-link li {
    margin: 30px auto;
  }
}

@media (max-width: 574px) {
  header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
      rgba(9, 0, 77, 0.65),
      rgba(9, 0, 77, 0.65)
    );
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-content form {
    background: #fff;
    border-radius: 20px;
    display: flex;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    width: 30vw;
    margin-left: 0%;
  }
  .header-content form input {
    outline: 0;
    border: 0;
    width: 50%;
    font-size: 15px;
    padding-left: 10px;
  }
  .header-content {
    margin-bottom: 50px;
    color: aliceblue;
    text-align: center;
  }
}
@media (max-width: 574px) {
  header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
      rgba(9, 0, 77, 0.65),
      rgba(9, 0, 77, 0.65)
    );
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-content {
    color: aliceblue;
    text-align: center;
  }
  .header-content form {
    background: #fff;
    border-radius: 20px;
    display: flex;
    text-align: center;
    padding: 10px;

    width: 100%;
    margin-left: 0%;
  }
  .header-content form input {
    outline: 0;
    border: 0;
    width: 100%;
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .section-one {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
  }
  .about-left {
    width: 100%;
    height: 70%;
  }
  .cars img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
  }
  .about-right {
    width: 100%;
    height: 70%;
  }
}

@media (max-width: 574px) {
  .section-one {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
  }
  .about-left {
    width: 100%;
    background-color: #1a2d4f;
  }
  .cars img {
    width: 100%;
    object-fit: cover;
  }
  .about-right {
    width: 100%;
    background-color: #1a2d4f;
  }
}

@media (max-width: 767px) {
  .second-section {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: space-between;
  }
  .speed .ford2 {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  .ford-type .ford {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
  }
  .description {
    background-color: #0527598e;
    width: 100%;
    height: 30vh;
  }
  .description2 {
    background-color: #0527598e;
    width: 100%;
    margin-bottom: 5px;
    height: 30vh;
  }
  .section-type h2 {
    color: #4a93ed;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;
  }
  .section-speed h2 {
    color: #4a93ed;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 574px) {
  .second-section {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: space-between;
  }
  .speed .ford2 {
    width: 100%;

    object-fit: cover;
  }
  .ford-type .ford {
    width: 100%;

    object-fit: cover;
  }
  .description {
    background-color: #052659;
    width: 100%;
    height: 100%;
  }
  .description2 {
    background-color: #052659;
    margin-bottom: 5px;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 767px) {
  #category h1 {
    color: #467bcb;
  }
}

@media (max-width: 767px) {
  .footer-colone {
    width: 50%;
    margin-bottom: 30px;
  }
  .footer-colone ul {
    list-style: none;
    text-align: center;
  }
  .footer-colone h4 {
    font-size: 18px;
    color: goldenrod;
    text-transform: capitalize;

    font-weight: 500;
    position: relative;
    text-align: center;
  }
}
@media (max-width: 574px) {
  .footer-colone {
    width: 100%;
  }
  .footer-colone ul {
    list-style: none;
    text-align: center;
  }
  .footer-colone h4 {
    font-size: 18px;
    color: goldenrod;
    text-transform: capitalize;

    position: relative;
    text-align: center;
  }
}
