* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: fixed;

  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: rgb(0, 0, 0);
  background-color: transparent;
}
.couleur {
  color: rgb(148, 137, 137);
}
span {
  color: red;
}
.title {
  gap: 1vw;
  flex-basis: 10vw !important;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-liens {
  display: flex;
  align-items: center;
}
.nav-liens li {
  margin: 0 30px;
}
ul {
  list-style: none;
}
ul :hover a {
  color: rgb(121, 146, 231);
}
a {
  text-decoration: none;
  color: rgb(148, 137, 137);
}
header {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65));
  display: flex;
  align-items: center;
  justify-content: center;
}
